<h2>New Recipe</h2>

<%= form_for @recipe do |f| %>
    Title:<br>
    <%= f.text_field :title %><br><br>

    <h4>Ingredients</h4>
    <%= f.fields_for :ingredients do |ingr| %>
        <%= ingr.label :name%><br>
        <%= ingr.text_field :name %><br>

        <%= ingr.label :quantity %><br>
        <%= ingr.text_field :quantity %><br><br>
    <% end %>

    <%= f.submit %>
<% end %>